{% extends 'GazMainBundle::layout.html.twig' %}
 {% block contentMain %}
     <div class="container">

         <div class="card-panel">
             <div class="row">
              {{ message }}
             </div>
         </div>
     </div>
 {% endblock %}